*{
    padding: 0%;
    margin: 0%;
}
body{
    background: rgb(238, 238, 238);
}

#post{
    float: left;
    width: 45%;
    height: auto;
    margin: 5% auto auto 25%;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

/* ***********************************************/
/*                     TOP ROW                  */
/* ***********************************************/

#post-header{
    float: left;
    border-radius: 15px 15px 0px 0px;
    padding: 1%;
}


#top-top-row{
    float: left;
}

#dp-row > img{
    float: left;
    width: 12%;
    padding: 1%;
    border-radius: 100px;
}

#name-row{
    float: left;
    padding: 1.5% 0% 1% 1.5%;
    width: 70%;
}

#name-row > p{
    font-weight: 600;
    font-size: 1.4em;
}

#desc-row{
    float: left;
    padding: 1% 0% 1% 2%;
    width: 100%;
    clear: both;
}
#desc-row > p{
    font-size: 1.2em;
    width: inherit;
}


/* ***********************************************/
/*                     MID ROW                  */
/* ***********************************************/
.App{
    padding: 0% !important;
}
.container{
    padding: 0% !important;
    margin: 0% !important;
}

.height-one {
    height: 550px !important;    
    border-radius: 0%;
}
.height-two {
    height: 350px !important;
    border-radius: 0%; 
}
.height-three{
    height: 250px !important;
    border-radius: 0%;
}
.height-four{
    height: 250px !important;
    border-radius: 0%;
}

/* ***********************************************/
/*                   BOTTOM ROW                  */
/* ***********************************************/

#interact-bottom{
    border-radius:  0px 0px 15px 15px;
}

#react_Strip{
    background: rgb(29, 29, 29);
    border-radius: 25px;
    padding: 0.5% 0.5% 0.1% 0.5%;
    width: 23%;
    position: absolute;
    margin-top: -65xzpx;
}
#react_Strip > #zama-emoji{
    margin-left: 1%;
}


#bottom-top-row{
    border-bottom: 1px solid rgb(228, 228, 228);
    border-bottom-width: 0.1px;
    float: left;
    width: 100%
}

#reactions{
    float: left;
    padding: 5px;
}

#likes-list{
    float: left;
    padding: 2px;
}

#comments-list{
    float: right;
    padding: 2px;
}

#bottom-bottom-row{
    float: left;
    width: 100%;
    padding: 5px;
}

#like-btn{
    font-weight: 600;
    color: rgb(109, 109, 109);
    float: left;
    padding: 0% 10% 0% 8%;
    font-size: 1.2em;
    border-right: 1px solid rgb(228, 228, 228);
}
#comment-btn{
    font-weight: 600;
    color: rgb(109, 109, 109);
    float: left;
    padding: 0% 8% 0% 10%;
    font-size: 1.2em;
}
#share-btn{
    font-weight: 600;
    color: rgb(109, 109, 109);
    float: left;
    padding: 0% 0% 0% 10%;
    font-size: 1.2em;
    border-left: 1px solid rgb(228, 228, 228);
}

.like-btn > input[type=button]{
    border: none;
    background: none;
}
#comment-btn > input[type=button]{
    border: none;
    background: none;
}
#share-btn > input[type=button]{
    border: none;
    background: none;
}

