*{
    padding: 0%;
    margin: 0%;
}

#post{
    float: left;
    width: 45%;
    height: auto;
    margin: 5% auto auto 25%;
}

/* ***********************************************/
/*                     TOP ROW                  */
/* ***********************************************/

#post-header{
    float: left;
    background: rgb(231, 231, 231);
    border-radius: 15px 15px 0px 0px;
    padding: 2%;
}


#top-top-row{
    float: left;
    background: rgb(199, 199, 199);
}
#dp-row > img{
    width: 15%;
    padding: 2%;
    border-radius: 100px;
    float: left;
}

#desc-row{
    float: left;
    padding: 2%;
    width: 70%;
}
#desc-row > p{
    font-size: 1.2em;
    width: inherit;
}


/* ***********************************************/
/*                     MID ROW                  */
/* ***********************************************/
.App{
    padding: 0% !important;
}
.container{
    padding: 0% !important;
    margin: 0% !important;
}

.height-one {
    height: 550px !important;    
    border-radius: 0%;
}
.height-two {
    height: 350px !important;
    border-radius: 0%; 
}
.height-three{
    height: 250px !important;
    border-radius: 0%;
}
.height-four{
    height: 250px !important;
    border-radius: 0%;
}

/* ***********************************************/
/*                   BOTTOM ROW                  */
/* ***********************************************/

#interact-bottom{
    background: rgb(255, 255, 255);
    border-radius:  0px 0px 15px 15px;
}

#bottom-top-row{
    border-bottom: 1px solid gray;
    float: left;
    width: 100%
}

#reactions{
    float: left;
    padding: 5px;
}

#likes-list{
    float: left;
    padding: 2px;
}

#comments-list{
    float: right;
    padding: 2px;
}

#bottom-bottom-row{
    background: blanchedalmond;
    float: left;
    width: 100%;
    padding: 5px;
}

#like-btn{
    float: left;
    padding: 0% 15% 0% 10%;
    font-size: 1.2em;
    border-right: 1px solid black;
}
#comment-btn{
    float: left;
    padding: 0% 12% 0% 10%;
    font-size: 1.2em;
}
#share-btn{
    float: left;
    padding: 0% 15% 0% 10%;
    font-size: 1.2em;
    border-left: 1px solid black;

}

#like-btn > input[type=button]{
    border: none;
    background: none;
}
#comment-btn > input[type=button]{
    border: none;
    background: none;
}
#share-btn > input[type=button]{
    border: none;
    background: none;
}